
/* Start */
.start {
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: content-box;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.start .text {
    box-sizing: border-box;
    width: 50vw;
    height: 50vh;

    text-align: center;
    margin: 40px;
}

.start .text h1 {
    margin: 3vh 0;
    color: var( --Major );
    font-weight: 900;
}

.start .text h4 {
    margin: 3vh 0;
    color: var( --Major );
}

.start .text p {
    margin: 3vh 0;
}

.show {
    position: relative;
    display: flex;
    box-sizing: content-box;

    width: 40vw;
    height: 90vh;
    overflow: hidden;

    border-radius: 10px;
    justify-content: center;
    margin: 40px;
    
    right: 0px;
}

.show img {
    height: 100%;
}

.buttons {
    position: relative;
    display: flex;
    box-sizing: content-box;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons a {

    display: flex;

    width: 200px;
    height: 48px;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px, 25px;
    margin: 30px 40px;

    border-radius: 10px;
}

.about-button {
    width: 200px;
    height: 48px;
    background: var( --Major );
}

.contact-button {
    background: var( --Minor );
}

.about-button, .contact-button {
    color: var( --Base );
}
.about-button:hover {
    background: var( --Base );
    border: solid 1px var( --Minor );
    color: var( --Major );
}

.contact-button:hover {
    background: var( --Base );
    border: solid 1px var( --Minor );
    color: var( --Minor );
}


/* About */
.about {
    min-height: 100vh;
    background: var( --Minor );

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.about h1 {

    display: flex;

    color: var( --Base );
    width: 30vw;
    height: 100px;

    margin: 2vh 30vw;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    box-sizing: border-box;

    width: 380px;
    height: 330px;

    margin: 20px;

    text-align: center;
    
    background: var( --Base );
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(100, 100, 100, 0.4);
}

.card .icon {
    width: 50px;
    height: 50px;
    background: var( --hu-dark-blue );

    border-radius: 100%;

    margin: 20px 30px;
}

.card h4 {
    width: 260px;
    height: 50px;
    text-align: left;
    margin: 0 auto;
}

.card p {
    width: 260px;
    height: 130px;
    text-align: justify;
    margin: 0 auto;
}

.card a {

    display: flex;

    width: 260px;
    text-align: left;
    margin: 0 auto;

    color: var( --Major );
}

/* Contact */
.contact {
    min-height: 100vh;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    text-align: center;

}

.contact h1 {
    display: flex;
    width: 20vw;
    height: 100px;

    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0 40vw;
}

.contact p {
    display: flex;
    width: 40vw;
    height: 50px;

    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 20px 30vw;
}

.contact form {
    width: 40vw;
    height: 330px;
    margin: 0 30vw;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .username-input, .contact .email-input {
    display: flex;
    flex-wrap: wrap;

    width: 19vw;
}

.contact .message-input {
    display: flex;
    flex-wrap: wrap;
}

.contact .username-input {
    margin-right: 1vw;
}

.contact .email-input {
    margin-left: 1vw;
}

.contact .username-input input, .contact .email-input input {
    width: 19vw;
    height: 40px;
}

.contact #message {
    width: 40vw;
    height: 150px;
}

.contact input[ type = submit ]{
    width: 10vw;
    height: 50px;

    border: 1px solid var( --Minor );
    background: var( --Major );
    border-radius: 15px;

    color: var( --Base );
}

.horizontal-line {
    height: 2px;
    width: 50vw;
    background: var( --hu-dark-blue );
    margin: 20px 25vw;
}